html,
body {
  cursor: url('../img/cursor.svg'), auto;
  cursor: url('../img/cursorPointer.svg'), pointer;
  cursor: url('../img/cursorClick.svg'), auto;
  background-color: #08041c;
}

.overlay {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 100%;
  padding: 2rem;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .line {
    display: flex;
    justify-content: space-between;
  }
}