.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.chatbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;

  &-login {
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s ease-in-out;

    &-form {
      width: fit-content;
      text-align: center;

      .u-button {
        margin: auto;
        margin-top: 4rem;
      }
    }
    &-section {
      display: flex;
      align-items: center;
      position: relative;
      text-align: center !important;

      @for $i from 1 through 4 {
        & label:nth-of-type(#{$i}) {
          & .chatbox-login__room {
            background: nth($room-colors, $i);
          }
          &:hover .chatbox-login__room-input:not(:checked)+.chatbox-login__room {
            border: 3px solid #ec915a;
          }
        }
      }
    }
    &__room {
      cursor: pointer;
      width: 200px;
      height: 128px;
      margin: 0 .5rem;
      border-radius: .75rem;
      overflow: clip;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      transition: .1s ease-out;

      &-input {
        display: none;
        transition: .25s ease-in-out;

        &+div h3 {
          color: $white;
          font-variation-settings: "wght" 700;
        }

        &:is(:checked)+div {
          border: 3px solid $primary;
          transform: scale(1.05);
          &>h3 {
            z-index: 10;
            color: #fffdd8 !important;
            // mix-blend-mode: difference;
            font-variation-settings: "wght" 1000;
          }
          &>img {
            opacity: 0.75 !important;
          }
        }

        &:is(:checked) + div, 
        &:hover + div {
          &>h3 {
            font-variation-settings: "wght" 1000;
          }
          &>img {
            opacity: 0.6;
          }
        }
        
        &+div {
          position: relative;
          &>img {
            transition: .25s ease-in-out;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 0;
            opacity: 0.4;
          }
        }
      }
    }
    &__input {
      width: 100%;
      margin-bottom: 1.5rem;

      &::placeholder {
        text-align: center; 
      }
    }
  }

  &-users-list {
    transition: 1s ease-in-out .5s;
    position: absolute;
    bottom: 10rem;
    right: -30rem;
    width: 30rem;
    display: flex;
  }

  &-chat {
    transition: 1s ease-in-out .5s;
    height: calc(100% - 5.5rem) ;
    position: absolute;
    bottom: 1rem;
    left: -100%;
    display: flex;
    flex-direction: column-reverse;
    width: 30vw;

    &-section {
      position: relative;
      width: 30vw;
    }

    &__input {
      width: 100%;
    }

    &__message-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: end;
      & ul {
        direction:rtl; 
        overflow-y: auto;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
          width: 5px;
          height: 8px;
          background-color: transparent; /* or add it to the track */
        }
        &::-webkit-scrollbar-thumb {
          background-color: $translucent-white;
          border-radius: 10px;
          &:hover {
            background-color: $white;
          }
        }
        scrollbar-width: thin;
        margin-bottom: 1rem;
        & li {
          direction:ltr; 
        }
      }
    }
  }

  & .chatbox-login-info {
    transition: 1s ease-in-out;
    opacity: 0;
    height: 0;
  }

  &-logged {
    bottom: 1rem;
    right: 1rem;
    border-radius: .75rem;
    width: 30rem;
    height: 7.25rem;
    border: 3px solid $blue;
    align-items: flex-start;
    padding: 10px;
    
    & .chatbox-login-form {
      overflow: clip;
      opacity: 0;
      height: 0;
    }
    & .chatbox-login-info {
      opacity: 1;
      height: 100%;
    }

    &+.chatbox-users-list{
      right: 1rem;
    }
    &~.chatbox-chat{
      left: 1rem;
    }
  }
}